 <types:getESSJobStatus xmlns:types="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/types/">
 	<types:requestId>${body}</types:requestId>
 </types:getESSJobStatus>
